<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
  <section class="container-content-sidenav" data-test="container-content-sidenav">
    <aside class="sidenav item">
        <div class="content-sidenav">
          <img src="assets/logo-img.svg" alt="Logotipo SLACA 2019" />
        </div>
        <div class="content-sidenav" data-test="content-sidenav">
          <ul>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Comitês</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Eixos temáticos</a></li>
            <li><a href="#">Trabalhos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
    </aside>
  </section>
</body>

</html>
