.sidenav {
  grid-area: sidenav;
  background-color: #fff;
}

.content-sidenav li {
  height: 33px;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  border-bottom: 2px solid #E7E7E7;
}

a {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #725C5C;
}

.content-sidenav li:hover {
  background: #FDF1EB;
  position: relative;
}

.content-sidenav li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

.footer {
  grid-area: footer;
}

.footer img {
  padding: 10px;
}
