.sidenav {
  grid-area: sidenav;
}

.logo {
  grid-area: logo;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo h1 {
  width: 100%;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
}

.content-sidenav li {
  height: 33px;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  border-bottom: 2px solid #E7E7E7;
}

a {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #725C5C;
}

.content-sidenav li:hover {
  background: #FDF1EB;
  position: relative;
}

.content-sidenav li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

