<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
<main>
  <div class="container-content-cards" data-test="card-component" (click)="toggleNovoCard($event)">
    <div class="container-content-card">
        <div class="content-question">
          <div class="content-question-text">
            <h3>Assunto da pergunta aparece aqui</h3>
            <p>Carlos Henrique Santos</p>
          </div>
          <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
          <div class="container-group-icons">
            <div class="icon-item">
              <img src="assets/info.svg" alt="Ícone de informações" />
            </div>
            <div class="icon-item">
              <img src="assets/favoritar.svg" alt="Ícone de favoritos" />
            </div>
            <div class="icon-item">
              <p>1 like</p>
            </div>
            <div class="icon-item">
              <p>1 resposta</p>
            </div>
          </div>
        </div>
      </div>

      <section class="container-content-card-none" data-test="card-component-none" style="display: none;">
        <div class="container-content-card-open">
        <div class="question-none">
          <div class="question-group-none">
            <div class="question-text-1-none">
              <section class="container grid grid-template-columns">
                <div class="item">
                  <p>Adriano da Silva</p>
                </div>
                <div class="item author">
                  <p>Autor</p>
                </div>
                <div class="item comments">
                  <img src="assets/comments.svg" alt="Ícone de favorito" />
                </div>
              </section>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
              processo formativo situado impacto de processo formativo processo resente relato inscreve-se
              no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
              formativo processo.</p>
          </div>
        </div>

        <div class="question-none-white">
          <p>Carlos Henrique Santos</p>
          <div class="question-text-2-none">
            <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.</p>
            <p>Obrigada pela resposta, muito interessante o seu trabalho! </p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
 <div class="question-group-none">
            <div class="question-text-1-none">
              <section class="container grid grid-template-columns">
                <div class="item">
                  <p>Adriano da Silva</p>
                </div>
                <div class="item author">
                  <p>Autor</p>
                </div>
                <div class="item comments">
                  <img src="assets/comments.svg" alt="Ícone de favorito" />
                </div>
              </section>
            </div>
          </div>          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
              processo formativo situado impacto de processo formativo processo resente relato inscreve-se
              no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
              formativo processo.</p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
            <div class="question-group-none">
              <div class="question-text-1-none">
                <section class="container grid grid-template-columns">
                  <div class="item">
                    <p>Carmila Ferreira Andrade</p>
                  </div>
                  <div class="item author">
                    <p>Coautor</p>
                  </div>
                  <div class="item comments">
                    <img src="assets/comments.svg" alt="Ícone de favorito" />
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.

              Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
            <div class="question-group-none">
              <div class="question-text-1-none">
                <section class="container grid grid-template-columns">
                  <div class="item">
                    <p>Ana Carolina</p>
                  </div>
                  <div class="item author">
                    <p>Coautor</p>
                  </div>
                  <div class="item comments">
                    <img src="assets/comments.svg" alt="Ícone de favorito" />
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>
      </div>
    </section>


    </div>

    <div class="container-content-cards" (click)="toggleNovoCard($event)">
      <div class="container-content-card">
        <div class="content-question">
          <div class="content-question-text">
            <h3>Assunto da pergunta aparece aqui</h3>
            <p>Carlos Henrique Santos</p>
          </div>
          <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?</p>
          <div class="container-group-icons">
            <div class="icon-item">
              <img src="assets/info.svg" alt="Ícone de informações" />
            </div>
            <div class="icon-item">
              <img src="assets/favoritar.svg" alt="Ícone de favoritos" />
            </div>
            <div class="icon-item">
              <p>4 likes</p>
            </div>
            <div class="icon-item">
              <p>4 respostas</p>
            </div>
          </div>
        </div>
      </div>

      <section class="container-content-card-none" data-test="card-component-none" style="display: none;">
        <div class="container-content-card-open">
        <div class="question-none">
          <div class="question-group-none">
            <div class="question-text-1-none">
              <section class="container grid grid-template-columns">
                <div class="item">
                  <p>Adriano da Silva</p>
                </div>
                <div class="item author">
                  <p>Autor</p>
                </div>
                <div class="item comments">
                  <img src="assets/comments.svg" alt="Ícone de favorito" />
                </div>
              </section>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
              processo formativo situado impacto de processo formativo processo resente relato inscreve-se
              no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
              formativo processo.</p>
          </div>
        </div>

        <div class="question-none-white">
          <p>Carlos Henrique Santos</p>
          <div class="question-text-2-none">
            <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.</p>
            <p>Obrigada pela resposta, muito interessante o seu trabalho! </p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
 <div class="question-group-none">
            <div class="question-text-1-none">
              <section class="container grid grid-template-columns">
                <div class="item">
                  <p>Adriano da Silva</p>
                </div>
                <div class="item author">
                  <p>Autor</p>
                </div>
                <div class="item comments">
                  <img src="assets/comments.svg" alt="Ícone de favorito" />
                </div>
              </section>
            </div>
          </div>          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de
              processo formativo situado impacto de processo formativo processo resente relato inscreve-se
              no campo da análise da dimensão e impacto de processo formativo situado impacto de processo
              formativo processo.</p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
            <div class="question-group-none">
              <div class="question-text-1-none">
                <section class="container grid grid-template-columns">
                  <div class="item">
                    <p>Carmila Ferreira Andrade</p>
                  </div>
                  <div class="item author">
                    <p>Coautor</p>
                  </div>
                  <div class="item comments">
                    <img src="assets/comments.svg" alt="Ícone de favorito" />
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.

              Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>

        <div class="question-none">
          <div class="question-text-1-none">
            <div class="question-group-none">
              <div class="question-text-1-none">
                <section class="container grid grid-template-columns">
                  <div class="item">
                    <p>Ana Carolina</p>
                  </div>
                  <div class="item author">
                    <p>Coautor</p>
                  </div>
                  <div class="item comments">
                    <img src="assets/comments.svg" alt="Ícone de favorito" />
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="question-text-2-none">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>
      </div>
    </section>


    </div>
</main>
</body>

</html>
