.nav {
  padding: 0;
  margin: 0;
  background: #FDF1EB;
}

.navbar {
  width: auto;
  margin: 0 auto;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 30px 0 30px;
}

.nav-item {
  text-align: left;
}

.nav-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #725C5C;
}

.nav-subtitle {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #725C5C;
}

.nav-issn {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #725C5C;
}

.language-container {
  display: inline-block;
  position: relative;
  border: 1px solid #CCCCCC;
  width: 97px;
  height: 34px;
  border-radius: 3px;
}

.language-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language-abbr {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 5px;
}

.language-abbr p {
  margin: 0;
}

.language-abbr img {
  width: 10px;
  height: 15px;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  border: 1px solid #ccc;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  padding: 10px;
}

.dropdown-item {
  cursor: pointer;
  padding: 5px;
}

.language-container:hover .language-dropdown,
.language-dropdown:hover,
.language-content:hover .language-dropdown.show {
  display: flex;
  flex-direction: column;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.user-info {
  display: flex;
  flex-direction: row-reverse;
}

.user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 5px;
}

.user-text {
  flex: 1;
}

.user-welcome,
.user-email {
  margin: 0;
}

.user-welcome {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0;
}

.user-email {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0;
}

.notification-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.notification-badge {
  background-color: red;
  position: absolute;
  top: 0;
  right: -5px;
  color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
  }

  .language-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .language-abbr img {
    width: 10px;
    height: 10px;
  }

  .user-info {
    display: flex;
    flex-direction: row-reverse;
  }

  .user-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
  }

  .user-welcome, .user-email {
    text-align: center;
  }

  .notification-icon, .notification-badge {
    display: none;
  }
}

.nav-title, .nav-subtitle, .nav-issn, .language-abbr p, .language-dropdown p, .user-welcome, .user-email, .notification-badge {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
