.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
    "logo navbar navbar"
    "aside columns columns"
    "aside footer footer  ";
  height: 100vh;
}

aside {
  grid-area: aside;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.navbar {
  grid-area: navbar;
}

.logo {
  grid-area: logo;
}

.columns {
  grid-area: columns;
  display: grid;
  grid-template-columns: 100%;
}

.column {
  margin-bottom: 30px;
}

.column-resume {
  margin: 0 30px 0 30px;
}

.column-discussions {
  margin: 0 30px 0 30px;
}

.topico-duvida-enviado {
  margin: 0 30px 0 30px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "aside"
      "navbar"
      "columns"
      "rows"
      "footer";
  }

  .columns {
    grid-template-columns: 1fr;
  }

  .column,
  .content-column {
    grid-column: 1;
  }

  .row,
  .content-row {
    grid-column: 1;
  }
}

.container-content-discussions {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  border: 1px solid #ECECEC;
  border-radius: 3px, 3px, 0px, 0px;
  height: auto;
}

.content-title {
  background-color: #FDF1EB;
  color: #4E4E4E;
  padding: 10px;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.content-title h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E4E4E;
}

.content-subtitle {
  color: #ED7839;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}

.content-text {
  color: #595959;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
}

.card-content-link {
  color: #ED7839;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline;
}

.btn-show-more {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.custom-divider-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.btn-create-topic {
  position: relative;
  font-weight: bold;
  color: white;
  background: linear-gradient(#FFB354, #ED7839);
  width: auto;
  padding: 10px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
}

.divider {
  border-top: 1px solid #ccc;
  width: 100%;
}

.footer {
  grid-area: footer;
  margin: 0 30px 0 30px;
}
