<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
  <div class="grid-container">
    <app-logo class="logo"></app-logo>
    <aside>
      <app-sidenav></app-sidenav>
    </aside>
    <nav class="navbar">
      <app-header></app-header>
    </nav>
    <div class="columns">
      <div class="column">
        <app-columns></app-columns>
      </div>
      <div class="column">
        <div class="column-resume">
          <app-resume></app-resume>
        </div>
      </div>
      <div class="column">
        <div class="column-discussions">
          <div class="container-content-discussions">
            <div class="content-title">
              <h2>Discussões</h2>
            </div>
            <div class="topico-duvida-enviado" id="topico-duvida-enviado" *ngIf="mostrarMensagemDeSucesso">
              <div class="content-subtitle">
                <p>Seu tópico foi enviado com sucesso! :D</p>
              </div>
              <div class="content-text">
                <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico
                  for respondido!</p>
              </div>
              <div class="card-content-link">
                <a href="#" (click)="redirecionarParaPadrao()">Descubra outros trabalhos!</a>
              </div>
              <div class="custom-divider-button">
                <button class="btn-create-topic" (click)="exibirFormulario()">
                  criar novo tópico
                </button>
                <div class="divider"></div>
              </div>
              <div class="custom-card-content-dark">
                <app-carddark></app-carddark>
              </div>
              <div class="custom-card-content">
                <app-card></app-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</body>

</html>
