<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
  <div class="grid-container">
    <app-logo class="logo"></app-logo>
    <aside>
      <app-sidenav></app-sidenav>
    </aside>
    <nav class="navbar">
      <app-header></app-header>
    </nav>
    <div class="columns">
      <div class="column">
        <app-columns></app-columns>
      </div>
      <div class="column">
        <div class="column-resume">
          <app-resume></app-resume>
        </div>
      </div>
      <div class="column">
        <div class="column-discussions">
          <app-cardform></app-cardform>
        </div>
      </div>
    </div>
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</body>

</html>
