<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
  <div class="container-content-card ">
    <h2>Detalhes</h2>
  </div>
  <div class="container-content-group">
    <div class="aside-content-card">
      <div class="aside-content-card-section">
        <div class="aside-content-card-section-text-1">
          <ul>
            <li>Tipo de Apresentação: Pôster</li>
            <li>Eixo temático: <strong>Alimentação e saúde (AS)</strong></li>
            <li>Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></li>
          </ul>
        </div>
        <div class="aside-content-card-section-text-2">
          <ul>
            <li><strong>Autores:</strong></li>
            <li>Galileo Galilei¹</li>
            <li>Berta Lange de Morretes²</li>
            <li>Isaac Newton³</li>
            <li>Cesar Lattes¹</li>
            <li>Stephen Hawking⁴</li>
          </ul>
        </div>
        <div class="aside-content-card-section-text-3">
          <ul>
            <li>¹Universidade Estadual de Campinas</li>
            <li>²Universidade de São Paulo</li>
            <li>³Instituto Nacional de Pesquisas Espaciais</li>
            <li>⁴Universidade Federal do Rio de Janeiro</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
