<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SLACA 2019</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <meta name="description" content="Descrição da página">
  <meta name="keywords" content="palavra-chave1, palavra-chave2">
</head>

<body>
  <div class="container-content-card" data-test="container-content-card">
    <div class="content-message-group">
      <div class="content-message">
        <img src="assets/ok.svg" alt="">
        <p class="text-msg">Aguardando feedback dos autores</p>
        <a class="text-edit">Editar tópico</a>
      </div>
    </div>
    <div class="container-content-dark" data-test="container-content-dark">
      <div class="content-question">
        <div class="content-question-text">
          <h3>Assunto da pergunta aparece aqui</h3>
          <p>Carlos Henrique Santos</p>
        </div>
        <p>Comecinho da pergunta aparece aqui...</p>
        <div class="container-group-icons" data-test="container-group-icons">
          <div class="icon-item">
            <img src="assets/info.svg" alt="Ícone de informações" />
          </div>
          <div class="icon-item">
            <img src="assets/favoritar.svg" alt="Ícone de favoritos" />
          </div>
          <div class="icon-item">
            <p>1 like</p>
          </div>
          <div class="icon-item">
            <p>1 resposta</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
