.container-content-resume {
  background-color: #FDF1EB;
  color: #4E4E4E;
  padding: 10px;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.container-content-resume h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E4E4E;
}

.comments-container,
.comments-container-none {
  height: auto;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  padding: 0 18px 0 18px;
}

.comments-text-1 {
  padding: 10px;
}

.btn-show-more {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.btn-show-more {
  color: #ED7839;
}
